#section_2{
    width: 67%;
    margin: auto;
    font-family: arial,verdana,sans-serif;  
 }
 #section_2>p{
    font-size: 18px;
     line-height: 1.7;
 }
 #section_2>h3{
    margin-top: 30px;
 }
 #footer{
    width: 100%;
    font-family: arial,verdana,sans-serif;  
    background-color: rgb(238, 239, 239);
 }
 #footer a{
    color: black;
 }
 #footer>div{
    width: 67%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 0.5px;
    text-align: center;
 }
 #footer>div>h5{
    width: 82%;
    margin: auto;
 }
 #footer>div>p{
   font-size: 11px;
   text-align: center;
 }
 #footer>div>p:nth-child(4){
   margin-top: -10px;
  }
 